#temp files
*~
*.swp
#linux trash folder which might appear on any partition or disk
.Trash-*
#kate
*.kate-swp
*swp.*
.*.kate-swp
.swp.*
.kateproject
.kateproject.d/
#backup directory
.bak/
#sublime text
*.sublime-workspace
*.sublime-project
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
#file manager's config for this directory
.directory
#dolphin connection
server
# sftp configuration file
sftp-config.json