Core response example for depositor list:
Array (
 	[pages] => 0.1
 	[page] => 1
 	[success] => 1
 	[result] => Array
 		(
 			[0] => Array
 				(
 					[depositor no.] => 2
 					[name] => Mario
 					[surname] => Rossi
 					[mobile] => %2B39 380 75 00 40
 					[telephone] => 34 25 54
 					[email] => pinco%40pallo.it
 					[state] => unactive
 					[hours no.] => 6
 				)

 			[1] => Array
 				(
 					[depositor no.] => 1
 					[name] => Banca
 					[surname] => Del Tempo
 					[mobile] => 0000
 					[telephone] => 0000
 					[email] => info@bancadeltempo-sv.it
 					[state] => active
 					[hours no.] => 1000000000
 				)

 		)

 )

Depositor read response example:
array(23) {
  ["depositor no."]=>
  		string(1) "2"
  ["name"]=>
  		string(9) "Francesca"
  ["surname"]=>
  		string(8) "Sgarlata"
  ["mobile"]=>
  		string(13) "347 53 79 131"
  ["telephone"]=>
  		string(13) "019 45 20 066"
  ["email"]=>
  		string(20) "arancesca@tiscali.it"
  ["state"]=>
  		string(8) "unactive"
  ["hours no."]=>
  		string(1) "0"
  ["sex"]=>
  		string(1) "f"
  ["date of birth"]=>
  		string(10) "1970-02-07"
  ["place of birth"]=>
  		string(6) "Savona"
  ["adress"]=>
  		string(16) "via Torino 42-10"
  ["city"]=>
  		NULL
  ["index"]=>
  		NULL
  ["province code"]=>
  		NULL
  ["document"]=>
  		string(5) "NODOC"
  ["document type"]=>
  		string(2) "id"
  ["profession"]=>
  		string(23) "Impiegata amministratva"
  ["degree"]=>
  		string(6) "Laurea"
  ["notes"]=>
  		string(0) ""
  ["channel"]=>
  		NULL
  ["other associations"]=>
  		string(0) ""
}